.git
.env*
!.env.example
.idea

.build/kwild
# must remain private
.build/kgw

go.work*
vendor

scripts/temp_csv
scripts/composed_streams.csv
scripts/temp_composed_stream_contracts
scripts/secret_db_credentials.json
scripts/produce_source_maps/all_tables.csv

# kgw binary needs to be kept private
deployments/gateway/kgw
